*{
    padding:0;
    margin: 0;
    box-sizing: border-box;

}
.login-img{
    background-image: url('/public/loginbg.jpg');
    height: 100vh;
   
}
.container{
    
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}
.form-box {
    border: 2px solid black; /* Add a border */
    padding: 20px; /* Optional: adds space inside the form */
    border-radius: 5px; /* Optional: rounds the corners */
    background-color: aqua;
    padding: 20px;
}

